numpy~=1.26.3
torch~=2.3.1+cu121
pandas~=1.5.3
shap~=0.46.0
matplotlib~=3.9.1
lime~=0.2.0.1
scikit-learn~=1.5.1
xgboost~=2.1.0
omegaconf~=2.3.0
imbalanced-learn~=0.12.3
pytorch-tabnet~=4.1.0
pytorch-tabular~=1.1.0
bayesian-optimization~=1.5.1
category-encoders~=2.6.3
dice-ml~=0.11